extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Реєстрація
        form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm();")

            p.errorMessage #{errorMessage}

            input(type="text", name="lastName", placeholder="Прізвище", value=lastName required="")
            input(type="text", name="firstName", placeholder="Ім'я", value=firstName required="")
            input(type="text", name="patronymic", placeholder="По-батькові", value=patronymic required="")
            input(type="text", name="group", placeholder="Назва групи", value=group required="")
            input(type="email", name="email", placeholder="Електронна адреса", value=email required="")
            input(type="text", name="username", placeholder="Позивний користувача", value=username required="")
            input#password(type="password", name="password", placeholder="Пароль", required="")
            input#passwordConf(type="password", name="passwordConf", placeholder="Підтведити пароль", required="")
            input(type="submit", value="Увійти")

        a(href="/login") Вже маєте акаунт? Авторизуватися.
    
    script.
        var passwordField = document.getElementById("password")
        var passwordConfirmField = document.getElementById("passwordConf")
        var form = document.getElementById("registerForm")

        function validateForm() {
            if(passwordField.value != passwordConfirmField.value) {
                alert("Passwords do not match. Please try again.")
            }
            else {
                form.submit();
            }
        }