mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User's profile picture")
        .textareaContainer
            textarea#postTextarea(placeholder="Що нового?")
            .buttonsContainer
                button#submitPostButton(disabled="") Запостити

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Відповісти
                    button.close(type='button', data-dismiss='modal', aria-label='Закрити')
                    span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="User's profile picture")
                        .textareaContainer
                            textarea#replyTextarea(placeholder="Ваша відповідь")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Закрити
                    button#submitReplyButton.btn.btn-primary(type='button', disabled="") Відповісти

mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deletePostModalLabel.modal-title Видалити пост?
                    button.close(type='button', data-dismiss='modal', aria-label='Закрити')
                    span(aria-hidden='true') &times;
                .modal-body
                    p Цю дію буде неможливо скасувати.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Закрити
                    button#deletePostButton.btn.btn-primary(type='button') Видалити

mixin createPostModals(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()
    +createPinnedPostModal()
    +createUnpinPostModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name}

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title Завантажити нове зображення для профілю
                    button.close(type='button', data-dismiss='modal', aria-label='Закрити')
                    span(aria-hidden='true') &times;
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")

                    .imagePreviewContainer
                        img#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Відмінити
                    button#imageUploadButton.btn.btn-primary(type='button') Save

mixin createCoverPhotoUploadModal()
    #coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#coverPhotoModalLabel.modal-title Завантажити нове фото-обкладинку
                    button.close(type='button', data-dismiss='modal', aria-label='Закрити')
                    span(aria-hidden='true') &times;
                .modal-body
                    input#coverPhoto(type="file", name="filePhoto")

                    .imagePreviewContainer
                        img#coverPreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Вімінити
                    button#coverPhotoButton.btn.btn-primary(type='button') Зберігти

mixin createPinnedPostModal()
    #confirmPinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmPinModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#confirmPinModalLabel.modal-title Закріпити цей пост?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p Цей пост з'явиться зверху у вашому профілі. Ви можете закріпити лише один пост.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Відмінити
                    button#pinPostButton.btn.btn-primary(type='button') Закріпити

mixin createUnpinPostModal()
    #unpinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='unpinModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#unpinModalLabel.modal-title Відкріпити цей пост?
                    button.close(type='button', data-dismiss='modal', aria-label='Закрити')
                    span(aria-hidden='true') &times;
                .modal-body
                    p Цей пост буде відкріпленим.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Відмінити
                    button#unpinPostButton.btn.btn-primary(type='button') Відприкріпити

mixin createChatImage(chatData, userLoggedIn)
    if(!chatData)
        return

    - var i = 0
    - var maxImagesToShow = 3
    - var remainingUsers = chatData.users.length - maxImagesToShow
    - remainingUsers-- // Remove 1 since we won't show our own image
    
    .chatImagesContainer
        if remainingUsers > 0
            .userCount
                span +#{remainingUsers}

        each user in chatData.users
            if chatData.users.length != 1 && user._id == userLoggedIn._id
                - continue
            else if i >= maxImagesToShow    
                - break
            
            img(src=user.profilePic, alt="User's profile picture", title=user.firstName)
            - i++

mixin createChatNameModal(chat)
    #chatNameModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='chatNameModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#chatNameModalLabel.modal-title Змінити назву чату
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    input#chatNameTextbox(type="text", placeholder="Введіть нове ім'я для чату", value=chat.chatName)
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Відмінити
                    button#chatNameButton.btn.btn-primary(type='button') Зберігти